/* fonts: "Baloo Tamma 2", serif (400-800) */
/* fonts: "Indie Flower", serif (800)  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility components */
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* custom properties */
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01727498;

  --transition: all 0.3s ease;
  --spacing: 0.2rem;
}
body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  /* max-width: 1510px;
  margin: 0 auto; */
  display: flex;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover {
}
ul {
  list-style-type: none;
}
/* -----------------------Side Nav------------------------ */
aside {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.side-nav__content {
  height: 100%;
  width: calc(3vw + 3vh);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary-color);
}
.side-nav__content--logo {
  width: calc(3vw + 3vh);
}
.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.side-nav__content--social a i {
  font-size: calc(1rem + 0.6666vw);
  color: #fff;
  padding-bottom: calc(1rem + 0.6666vw);
  transition: var(--transition);
}
.side-nav__content--social a i:hover,
.side-nav__content--social a i:active {
  color: var(--secondary-color);
}
/* ------------------MAIN SECTION------------------------ */
main {
  flex: 1;
}
/* -----------HEADER SECTION---------- */
header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  z-index: 2;
}
nav#header__main-nav {
  height: 100%;
}
.header__main-nav--hamburger {
}
.line {
}
.line-1 {
}
.line-2 {
}
.line-3 {
}
.header__main-nav--links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.header__main-nav--links li {
  padding-right: 3vw;
}
.header__main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.6666vw);
}
.header__main-nav--links li a:link::before,
.header__main-nav--links li a:visited::before,
.header__main-nav--links li a:link::after,
.header__main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;

  transform: scale(0);
  transition: var(--transition);
  /* transform origin is center by default */
}

.header__main-nav--links li a:link::before,
.header__main-nav--links li a:visited::before {
  top: 0;
  transform-origin: left;
}

.header__main-nav--links li a:link::after,
.header__main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

.header__main-nav--links li a:hover::before,
.header__main-nav--links li a:active::before,
.header__main-nav--links li a:hover::after,
.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}

/* -----------HERO SECTION---------- */
.hero {
  background-color: #014d4e;
  height: 100vh;
  background: url(./img/full-bg-07.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 3vw);
  padding-top: calc(1rem + 1vw);
  height: calc(7rem + 30vh);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: heroSlide 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* optional --- Animation*/
@keyframes heroSlide {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
.hero__content--title {
  font-size: calc(2rem + 3vw);
}
.hero__content--para {
  font-family: "Indie Flower", cursive;

  font-size: calc(1.5rem + 1vw);
}
.hero__content--link:link,
.hero__content--link:visited {
  padding: 1rem 0;
  transition: all 0.3s ease;
  width: 9rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.hero__content--link:link::after,
.hero__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.hero__content--link:link:hover::after,
.hero__content--link:active:hover::after {
  color: var(--secondary-color-m);
  /* transform-origin: right; */
  transform: scaleX(1);
}

/* -----------WORK SECTION---------- */
section.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--tertiary-color);
}
.work__card {
  padding: 2rem;
  flex-basis: 40rem;
  flex-grow: 1;
  clip-path: polygon(
    20% 0,
    80% 0,
    100% 15%,
    100% 85%,
    80% 100%,
    20% 100%,
    0 85%,
    0 15%
  );
  transition: var(--transition);
}
.work__card:hover {
  filter: sepia(50%);
}
/* -----------ABOUT ME SECTION---------- */
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  background-color: var(--secondary-color);
  padding: calc(2rem + 2vw);
}
.about-me__img,
.about-me__content {
  flex-basis: 40rem;
  flex-grow: 1;
  padding: 2rem;
}
.about-me__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-me__content--title {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;

  position: relative;
}
.about-me__content--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}
.about-me__content--title,
.about-me__content--para {
  letter-spacing: var(--spacing);
}
.about-me__content--para {
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
}
.about-me__content--link:link,
.about-me__content--link:visited {
  align-self: flex-start;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: var(--spacing);

  position: relative;
  z-index: 1;
}
.about-me__content--link:link::after,
.about-me__content--link:visited::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.about-me__content--link:link:hover::after,
.about-me__content--link:visited:hover::after {
  transform-origin: top;
  transform: scaleY(1);
}
/* -----------SERVICES SECTION---------- */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 2rem 2rem;
  background-color: var(--primary-color);
}
.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
  border-bottom: 0.2rem solid var(--secondary-color);
  border-right: 0.2rem solid var(--secondary-color);
  border-left: 0.2rem solid var(--secondary-color);

  position: relative;
  z-index: 1;
}
.service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.service:hover {
  color: #fff;
  transition: var(--transition);
}
.service:hover::after {
  transform: scale(1);
}
.service i {
  font-size: 3rem;
  /* color: #fff; */
}
.services__service-1 {
}
.services__service-2 {
}
.services__service-3 {
}
.services__service-4 {
}
.services__service-5 {
}
.services__service-6 {
}
.service i,
.services__title {
  margin-bottom: 2rem;
}
.services__title {
  font-size: 3rem;
  text-transform: uppercase;
}
.services__service-1--title {
}
.services__service-2--title {
}
.services__service-3--title {
}
.services__service-4--title {
}
.services__service-5--title {
}
.services__service-6--title {
}
.services__para {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
.services__service-1--para {
}
.services__service-2--para {
}
.services__service-3--para {
}
.services__service-4--para {
}
.services__service-5--para {
}
.services__service-6--para {
}

/* -----------SKILLS SECTION---------- */
.skills {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);
}
.skills__design {
}
.skills__design--title {
}
.skills__design--progress {
}
.skills__design,
.skills__coding {
  padding: calc(1rem + 2vw);
  flex-grow: 1;
  flex-basis: 40rem;
}
.skills__design--title,
.skills__coding--title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.skills__design h4,
.skills__coding h4 {
  font-size: 2rem;
  color: #fff;
}
.skills__design--progress,
.skills__coding--progress {
  height: 2rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
  position: relative;
}
.skills__design--progress__1,
.skills__design--progress__2,
.skills__design--progress__3,
.skills__design--progress__4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 3rem 0 0 3rem;
  background-color: var(--secondary-color);
}
.skills__design--progress__1 {
  animation: design-1 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-1 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 80%;
  }
}
.skills__design--progress__2 {
  animation: design-2 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-2 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 70%;
  }
}
.skills__design--progress__3 {
  animation: design-3 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-3 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 90%;
  }
}
.skills__design--progress__4 {
  animation: design-4 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes design-4 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 60%;
  }
}
.skills__coding--progress__1,
.skills__coding--progress__2,
.skills__coding--progress__3,
.skills__coding--progress__4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 3rem;
  background-color: var(--secondary-color);
}
.skills__coding {
}
.skills__coding--title {
}
.skills__coding--progress {
}
.skills__coding--progress__1 {
  animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}
.skills__coding--progress__2 {
  animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}
.skills__coding--progress__3 {
  animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}
.skills__coding--progress__4 {
  animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-1 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 90%;
  }
}
@keyframes coding-2 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 70%;
  }
}
@keyframes coding-3 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 50%;
  }
}
@keyframes coding-4 {
  0% {
    width: 0%;
  }
  50% {
  }
  100% {
    width: 60%;
  }
}
/*--------------------------------- media 1510px */
@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}
/*--------------------------------- media 910px */
@media screen and (max-width: 910px) {
  /* HERO section */
  .hero {
    background-position: 80%;
  }
}

/*--------------------------------- media 610px */
@media screen and (max-width: 610px) {
  /* HEADER section */
  header {
    position: absolute;
  }
  .header__main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
    transition: all 0.3s ease-in;
  }
  .clicked {
    /* through javascript */
    /* right: 0; */
    /* right: 45%; */
    left: 50%;
  }
  .header__main-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in;
  }
  .line-1 {
  }
  .line-2 {
  }
  .line-3 {
  }
  /* though javascript */
  .clicked .line-1 {
    transform: rotateZ(-45deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(45deg) translate(-0.8rem, -0.6rem);
  }
  .header__main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header__main-nav--links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }
  .header__main-nav--links li {
    opacity: 0;
  }
  .clicked .header__main-nav--links li:nth-child(1) {
    transition: all 0.3s ease 0.4s;
  }
  .clicked .header__main-nav--links li:nth-child(2) {
    transition: all 0.3s ease 0.6s;
  }
  .clicked .header__main-nav--links li:nth-child(3) {
    transition: all 0.3s ease 0.8s;
  }
  .clicked .header__main-nav--links li:nth-child(4) {
    transition: all 0.3s ease 1s;
  }
  .clicked .header__main-nav--links li:nth-child(5) {
    transition: all 0.3s ease 1.2s;
  }
  .clicked .header__main-nav--links li:nth-child(6) {
    transition: all 0.3s ease 1.4s;
  }
  li.fade {
    opacity: 1;
  }
  /* SERVICES section */
  .services {
    padding: 6rem 3rem 2rem;
  }
  .service {
    padding: calc(1rem + 3vw);
    margin: 0 0 calc(1rem + 2vw);
  }
  .services__title {
    font-size: calc(1.2rem + 2vw);
  }
  .services__para {
    font-size: calc(0.8rem + 1.5vw);
  }
  /* -----------SKILLS SECTION---------- */
  .skills__design--title,
  .skills__coding--title {
    font-size: calc(1.2rem + 2vw);
  }
  .skills__design h4,
  .skills__coding h4 {
    font-size: calc(0.8rem + 1.5vw);
  }
}
